//carousel overrides


.carousel_home, .carousel {
   position: relative;
   margin: 30px auto;

   .slick-arrow {
      height: 100%;
      width: 100px;
      position: absolute;
      background-color: white;
      z-index: 9;
      top: 0;

      i {
         font-size: 2rem;
         margin-top: 50%;
      }
   }

   .slick-dots {
      margin: 0px;
      text-align: center;

      li {
         display: inline-block;
         margin: 7px;
         cursor: pointer;


         &::after {
            content: "";
            display: block;
            height: 10px;
            width: 10px;
            border: 2px solid $w_purple;
            border-radius: 50%;
         }

         &.slick-active {
            &::after {
               background-color: $w_gold;
            }
         }
      }


      button {
         visibility: hidden;
         display: none;
         height: 20px;
         width: 20px;
      }
   }

   .slick-next {
      right: 0px;

      i {
         margin-left: 50px;
         margin-top: 120%;
      }

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

   }

   .slick-prev {
      left: 0px;

      i {
         margin-left: 50px;
         margin-top: 120%;
      }
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

   }

}
