//database styles

@mixin placeholder() {
   line-height: 1.6rem;
   opacity: 0.5;
}

.database {
   width: 100%;
   background: $w_purple url(../img/watches_bg.jpg) top center no-repeat;
   padding: 140px 0 0;
   background-size: contain;
   height: 300px;

   @media screen and (max-width: $small-break) {
       background-size: 150%;
   }

   p {
      color: $w_gold;
      font-family: $font-family-monospace;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
   }

   ul {
      margin: auto;
      list-style: none;
   }

   &__search {
      width: 270px;
      margin: auto;
      position: relative;

      &::after {
         content: "\f002";
         font: normal normal normal 14px/1 FontAwesome;
         color: $w_gold;
         display: block;
         float: right;
         position: absolute;
         z-index: 9;
         right: 20px;
         top: 17px;
      }

      input[type="search"] {

         border: none;
         height: 50px;
         width: 270px;
         border-radius: 25px;
         box-shadow: none;
         margin: auto;
         font-family: $font-family-sans-serif;
         line-height: 1.4rem;
         padding: 15px;

         &::-webkit-input-placeholder {
            @include placeholder();
         }

         &:-moz-placeholder { /* Firefox 18- */
            @include placeholder();
         }

         &::-moz-placeholder {  /* Firefox 19+ */
            @include placeholder();
         }

         &:-ms-input-placeholder {
            @include placeholder();
         }

      }

   }

}
