//footer styles

.footer {

   padding-top: 60px;
   padding-bottom: 100px;
   background-color: $w_purple;

   &__image {
      width: 50%;

      @media screen and (max-width: $small-break) {
         width: 60%;
         display: block;
         margin: auto;
         margin-bottom: 50px;
      }
   }

   &__text {
      font-size: 0.75rem;
      color: white;
      font-family: $font-family-sans-serif;

      @media screen and (max-width: $small-break) {
         width: 100%;
         text-align: center;
         margin-top: 30px;
      }
   }

   &__links {
      list-style: none;
      margin: 0px;
      width: 100%;

      a {
         font-size: 0.9rem;
         color: white;
         font-family: $font-family-sans-serif;
         font-style: normal;
         display: block;

         @media screen and (max-width: $small-break) {
            width: 100%;
            text-align: center;
         }

      }
   }

}
