//general

body {
      background: white fixed top center no-repeat;

      @media screen and (max-width: $large-break) {
         .columns {
            padding-left: 1rem;
            padding-right: 1rem;
         }
      }
}

h1 {
   font-weight: 100;
   font-family: $font-family-sans-serif;
   font-size: 4rem;

   @media screen and (max-width: $small-break) {
      font-size: 2.5rem;
   }

   margin: 50px auto;
}

a {
   color: $w_gold;
   font-style: italic;
   font-weight: normal;

   &:hover {
      color: $w_darkgold;
   }
}


.site__wrapper {
   //width: 1050px;
   margin: auto;
   background-color: white;
   padding-bottom: 50px;
}
