//keyfact styles

.keyfacts {

   &__keyfact {
      margin-top: 15px;

      &:first-child {
         margin-top: 0px;
      }

      &--key {
         font-family: $font-family-monospace;
         font-size: 1rem;
         text-transform: uppercase;
      }

      &--value {
         font-family: $font-family-sans-serif;
         font-size: 1.4rem;
         font-weight: 200;
      }

      &--links {
         a {
            font-style: italic;
            font-weight: 300;
         }

         ul {
            font-size: 0.85rem;
            list-style: none;
            margin-left: 0px;
         }

         li {
            width: 80%;

            &::before {
               content: "\f178";
               font: normal normal normal 12px/1 FontAwesome;
               margin-right: 10px;
               color: $w_gold;
            }
         }
      }
   }

}
