//search panel

.searchpanel {

   .breadcrumb {
      background-color: #F2F4FC;
      padding: 10px 20px 15px;

      ul {
         list-style: none;
         margin-left: 0px;
         margin-bottom: 0px;

         li {
            display: inline-block;
            font-family: $font-family-monospace;

            a, i {
               font-weight: normal;
               text-transform: uppercase;
               color: $w_purple;
            }

            a {
               font-size: 0.8rem;
               font-style: normal;
            }

            i {
               font-size: 0.6rem;
               margin: 0px 30px;
            }
         }
      }
   }

   &__container {
      background-color: $w_lightpurple;
      min-height: 210px;
      border-bottom: 1px solid #d3d4d6;
      border-top: 1px solid $w_purple;
   }

   &__wrapper {
      padding: 20px 20px 50px;
   }

   &__alpha {

      list-style: none;
      margin: 20px auto 30px;
      text-align: center;

      li {
         display: inline-block;
         padding: 4px;

         a {
            text-align: center;
            color: $w_purple;
            font-family: $font-family-monospace;
            text-transform: uppercase;
            font-style: normal;
         }
      }

   }

}


.dropdowns {

   .dropdown {
      border-bottom: 1px solid $w_purple;

      .selection {
         position: absolute;
         bottom: -35px;
         left: 0px;
         font-family: $font-family-monospace;
         text-transform: uppercase;
         font-size: 1rem;
      }

      i {
         float: right;
         margin-top: 5px;
         border-bottom: 1px solid $w_gold;
         padding-bottom: 2px;
         position: absolute;
         right: 0px;
         font-size: 1.1rem;
      }

      .menu {
         width: 100%;
         margin-top: 10px;
      }

      .default.text {
         font-family: $font-family-sans-serif;
         color: $w_purple;
      }

      .item{
         font-family: $font-family-sans-serif;
      }

      width: 17.2%;
      margin-right: 3%;

      @media screen and (max-width: $small-break) {
         width: 100%;
         margin-bottom: 15px;
      }

      &:last-child {
         margin-right: 0px;
      }

   }

}
