//section styles

.section-title {

   border-bottom: 1px solid black;
   width: 100%;
   margin-bottom: 40px;
   margin-top: 20px;

   h3 {
      font-family: $font-family-monospace;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 0px;
      position: relative;

      &:after {
         border-bottom: 1px solid gold;
         width: 100%;
         position: absolute;
         bottom: -1px;
         content: "";
         display: block;
      }
   }

   &.left {
      h3 {
         float: left;
      }
   }

   &.right {
      h3 {
         float: right;
      }
   }

}
