//stories

.story {

   border-top: 1px solid black;
   padding-top: 25px;

   i {
      color: $w_gold;
   }

   &:first-child {
      border-top: none;
      padding-top: 10px;
   }

   &__type {
      font-family: $font-family-monospace;
      text-transform: uppercase;

      span {
         float: right;
         font-size: 0.9rem;
      }
   }

   &__title {
      font-family: $font-family-sans-serif;
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: 200;
      margin-bottom: 25px;
   }

   &__links {
      a {
         font-style: italic;
         font-weight: 300;
      }

      font-size: 0.85rem;
      list-style: none;
      margin-left: 0px;

      li {
         width: 80%;

         &::before {
            content: "\f178";
            font: normal normal normal 12px/1 FontAwesome;
            margin-right: 10px;
            color: $w_gold;
         }
      }
   }

   &__main {

      padding-top: 10px;

      .story__type {
         font-size: 1.2rem;
         margin-bottom: 10px;
      }

      .story__title {
         font-size: 2rem;
         line-height: 2rem;
      }

      .story__desc {
         font-family: $font-family-serif;

         p {
            font-size: 0.9rem;
         }
      }

   }

}
