//watch info


.watchinfo {

   &__images {

      &--main {
         width: 65%;
         margin: auto;
         display: block;
      }

      &--thumbnails {
         list-style: none;
         float: right;

         @media screen and (max-width: $small-break) {
            text-align: center;
            margin-top: 30px;
         }

         li {
            width: 30px;
            height: 60px;
            overflow: hidden;
            margin-bottom: 10px;

            @media screen and (max-width: $small-break) {
               float: left;
               width: 33%;
            }

            a.opaque {
               opacity: 0.6;
            }

            img {
               vertical-align: middle;

               @media screen and (max-width: $small-break) {
                  margin: auto;
                  width: 30%;
               }
            }
         }
      }

   }

   .story__main {

      .story__title {
         font-size: 3rem;
         line-height: 2.8rem;
         font-weight: 100;
      }
   }

   .section-title {
      margin-top: 0px;

      h3 {
         font-size: 1.2rem;
         margin-top: 0px;
      }
   }

}
