//watch single styles

.watch {

   &__container {
      margin-bottom: 30px;

      &--img {

         padding: 0 0 0 10px;

      }

      &--brand {
         font-family: $font-family-monospace;
         text-transform: uppercase;
         margin-bottom: 5px;
      }

      &--type {
         font-family: $font-family-sans-serif;
         font-size: 1.8rem;
         line-height: 1.8rem;
         font-weight: 200;
         margin-bottom: 20px;
      }

      &--desc {
         p {
            font-family: $font-family-serif;
            font-size: 0.75rem;
            margin-bottom: 10px;
         }
      }

   }

}


.carousel_home {

   .watch {
      &__container {

         text-align: right;

         &--brand {
            font-size: 1.2rem;
            margin-bottom: 10px;
            margin-top: 30px;
         }

         &--type {
            font-size: 2rem;
            line-height: 2rem;
         }

      }
   }

}
